#wrapper {
	display: flex;
	justify-content: center;
	padding: 3rem 1rem 5rem;
}

#content {
	background-color: white;
	padding: 2rem;
	box-shadow: 1px 0px 10px black;
	text-align: justify;
}

#content .scroll {
	display: inline-block;
	overflow-x: auto;
	max-width: 100%;
}

#content .scroll img {
	height: 1em;
}

@media only screen and (max-width: 600px) {
	#content {
		max-width: 90%;
		width: auto;
	}

	#wrapper {
		padding-top: 0;
	}
}

@media only screen and (min-width: 600px) {
	#content {
		width: 80%;
	}
}

@media only screen and (min-width: 768px) {
	#content {
		width: 70%;
	}
}

@media only screen and (min-width: 992px) {
	#content {
		width: 61%;
	}
}

@media only screen and (min-width: 1200px) {
	#content {
		max-width: 50%;
	}
}
