/*
 * #F2F2FF - White
 * #EDAF1F - Orange
 * #17466E - Blue
 */

html {
	height: 100%;
	display: flex;
}

body {
	background-color: #F2F2FF;
	background-image: url("duck.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: right bottom;
	display: flex;
	margin: 0;
	width: 100%;
	font-family: "Noto Sans Mono", "Monaco", serif;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 2rem;
}

header h1 {
	font-family: "Noto Serif Display", "American Typewriter", serif;
	font-weight: normal;
	text-align: center;
	display: block;
	margin: 0;
}

header nav {
	display: flex;
	align-items: center;
}

nav a {
	margin: 1rem;
	font-size: 1.2rem;
	text-decoration: none;
	color: black;
	padding: 1rem;
}

.button {
	background-color: #17466E;
	color: #F2F2FF;
	border-radius: 20px;
}

main {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap-reverse;
	padding: 1rem;
	padding-bottom: 5rem;
}

main figure {
	max-width: 30%;
	display: block;
	font-size: 1.5rem;
	margin: 0;
}

main figure figcaption {
	text-align: right;
}

main span {
	text-align: right;
	font-size: 3rem;
}

mark {
	background-color: #17466E;
	color: #F2F2FF;
	position: relative;
}

@media only screen and (max-width: 600px) {

	body {
		background-image: none;
	}

	main {
		margin-bottom: 0;
	}

	 header {
		flex-direction: column;
		align-items: center;
	}

	main figure {
		max-width: 100%;
	}

	mark {
		background-color: #EDAF1F;
		color: black;
	}
}
