<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Augusto Gunsch</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
		<link rel="icon" href="{{ url_for('static', filename='icon.png') }}"/>
	</head>
	<body>
		<header>
			<h1>Augusto<br>Gunsch</h1>

			<nav>
				<a href='contact'>Contact</a>
				<a href='about'>About</a>
				<a href='projects' class='button'>Projects</a>
			</nav>
		</header>

		<main>
			<figure>
				<blockquote>
					{{ quote }}
				</blockquote>
				<figcaption>{{ author }}</figcaption>
			</figure>
			<span>
				I turn <mark>ideas</mark><br>into<br><mark>software</mark>.
			</span>
		</main>
	</body>
</html>
