<!DOCTYPE html>
<html id="html">
	<head>
		<meta charset="utf-8"/>
		<title>Augusto Gunsch</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}"/>
		<link rel="icon" href="{{ url_for('static', filename='icon.png') }}"/>
	</head>
	<body id="body">
		<header id="header">
			<h1 id="title"><a href='/'>Augusto<br>Gunsch</a></h1>

			<nav id="links">
				<a href='contact'>Contact</a>
				<a href='about'>About</a>
				<a href='projects' class='button'>Projects</a>
			</nav>
		</header>

		<div id="page">
			<div id="social">
				<a href="https://git.augustogunsch.com/augusto" target="_blank">
				<img class="icon" src="{{ url_for('static', filename='gitea.png') }}">
				</a>
				<a href="https://github.com/augustogunsch" target="_blank">
				<img class="icon" src="{{ url_for('static', filename='github.png') }}">
				</a>
				<a href="https://www.linkedin.com/in/augusto-gunsch" target="_blank">
				<img class="icon" src="{{ url_for('static', filename='linkedin.png') }}">
				</a>
			</div>
			<main id="main">
				<figure id="quote">
					<blockquote>
						{{ quote }}
					</blockquote>
					<figcaption>{{ author }}</figcaption>
				</figure>
				<span id="slogan">
					I turn <mark>ideas</mark><br>into<br><mark>software</mark>.
				</span>
			</main>
		</div>
		<div id="banner">
			&#x1F1E7;&#x1F1F7; <a href="https://obrasilfoiroubado.com">#BrazilWasStolen</a>
		</div>
	</body>
</html>
